<div class="background h-100 d-flex flex-column justify-content-center align-items-center ">
  <div class="p-5">
    <div class="me">
      Thomas Champagne
    </div>
    <div class="about pt-3">
      Software Architect & Former Network Engineer
    </div>
    <div class="city pt-3">
      Grenoble, France
    </div>
    <div class="links pt-3 d-flex flex-row justify-content-center">
      <div>
        <a href="https://twitter.com/champagnethomas" target="_blank"><i class="icon bi-twitter"></i></a>
      </div>
      <div>
        <a href="https://github.com/thomaschampagne" target="_blank"><i class="icon bi-github"></i></a>
      </div>
      <div>
        <a href="https://www.flickr.com/photos/thomaschampagne/" target="_blank"><i class="icon bi-camera"></i></a>
      </div>
    </div>
  </div>
</div>
